@charset "utf-8";
/* CSS Document */

body {
    font-family: Arial,sans-serif,Geneva;
	height: 100%;
	margin: auto;
	line-height:130%;
	width:100%;
	background: url(../images/background.fw.png) repeat-x scroll left top rgb(10, 27, 38);
	
}
*{ margin:0px;}
a {color:#000;text-decoration:none; }
a:hover {color:#900;text-decoration:none; }
p{ line-height:130%}
#full{ 	position:relative;
		margin:0 auto;
               /*replace 900px with your width*/
		width:100%;}
#bannertop{ display:none; background-image:url(../images/bannertop.fw.png); background-repeat:no-repeat; width:1024px; height:122px; }
#orderbuttom{position:absolute;  z-index:200; left:833px; overflow:hidden; margin-top:25px;}
#main{position:relative;
		margin:0 auto;
               /*replace 900px with your width*/
		width:100%;
		}
#menutop{ background-image:url(../images/buyonlinebusiness.fw.png); background-repeat:no-repeat; width:100%; height:120px;}
#menuul{ list-style:none; padding-top:83px;}
		#menuul li {
			float:left; 
			display:block; 
			width:auto;
			height:30px;
			position:relative;
			z-index:500; 
			margin:-3px 5px;
		}
#info{		width:950px;
		background-image:url(../images/backgroundinfo.fw.png); background-repeat:repeat-y; float:left}
		
		/* this is the parent menu */
		#menuul li a {
			display:block; 
			padding:8px 5px 0 5px; 
			font-weight:100;  
			height:26px; 
			text-decoration:none; 
			color:#FFF; 
			text-align:center; 
			font-size: 20px;
			padding-right:15px;
			 font-weight:bold;
		}

		#menuul li a:hover {
			color:#FFF;
			 background-color:#D90000
		}
#social{ width:950px; background-image:url(../images/backgroundsocial.fw.png); background-repeat:no-repeat; float:left}
#ty{ width:950px; float:left; }
#ty a {color:#253072;text-decoration:none; font-size:9px; }
#ty a:hover {color:#900;text-decoration:none; }
#tw{width:275px; float:left; margin-left:6px; padding-left:35px;}
#yo{ width:275px; float:left; margin-left:6px;padding-left:35px;}
#ins{ width:310px; float:left; margin-left:6px;}
#datpiff{width:936px; background-image:url(../images/datapiff.fw.png); background-repeat:no-repeat; clear:both	}
#trafficinstragram{width:100%;float:left}
#traffic{ width:450px ;  float:left; background-image:url(../images/traffic.fw.png); background-repeat:no-repeat; margin-left:12px; margin-right:12px;}
#instragram{width:100%; float:left;  margin-left:12px; margin-right:12px;}
#copyright{width:950px; height:54px; clear:both;}
#menubottom{ list-style:none; padding-left:10px; padding-top:15px;}
		#menubottom li {
			float:left; 
			display:block; 
			width:auto;
			height:30px;
			position:relative;
			z-index:500; 
			margin:-3px 1px;
			font-weight:100;  
			height:26px;
		}
		
		/* this is the parent menu */
		#menubottom li a {
			display:block; 
			padding:8px 3px 0 5px; 
			font-weight:100;  
			height:26px; 
			text-decoration:none; 
			color:#FF8706; 
			text-align:center; 
			font-size: 12px;

			
		}

		#menubottom li a:hover {
			color:#FFF;
		}
#ads{ width:915px; height:175px; background-image:url(../images/ads.fw.png); background-repeat:no-repeat; background-position:bottom; margin-left:17px;}
#footer{ width:950px; text-align:center; color:#FFF; font-size:14px;}
#pageinfo{width:900px; background-image:url(../images/backgroundinfopage.fw.png); background-repeat:repeat-y; padding-left:50px; line-height:200%}
#pageinfo p{ width:850px; text-align:justify}

